
html,body{
	height: 100%;
}
.bg{
	background: #56981a;
	color: #fff;
	text-align: center;
}
.bg::before{
	display: inline-block;
	content: "";
	width: 1px;
	height: 100%;
	vertical-align: middle;
}
.bg div{
	display: inline-block;
	vertical-align: middle;
}

.bg div h1{
	font-size: 50px;
}